legacy-workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "307a311c-4e97-4ed7-8314-a747af80209d",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Start Tutorial",
      "type": "n8n-nodes-base.manualTrigger",
      "creator": "Lucas Peyrin",
      "position": [
        900,
        440
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "path": "/tutorial/api/menu",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "ce59d96d-2554-4d08-b5d9-b6476fa240e6",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "1. The Kitchen (GET /menu)",
      "type": "n8n-nodes-base.webhook",
      "creator": "Lucas Peyrin",
      "position": [
        2220,
        440
      ],
      "webhookId": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "item",
              "type": "string",
              "value": "Pizza"
            },
            {
              "id": "67890",
              "name": "price",
              "type": "number",
              "value": 12
            }
          ]
        },
        "options": {}
      },
      "id": "43e190c3-cec7-4ffc-ba97-b1418e285465",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Prepare Menu Data",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        2440,
        440
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "url": "={{ $json.base_url }}/tutorial/api/menu",
        "options": {}
      },
      "id": "6b5e5637-3c10-47e2-8053-3ed7f8266bb2",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "1. The Customer (GET Menu Item)",
      "type": "n8n-nodes-base.httpRequest",
      "creator": "Lucas Peyrin",
      "position": [
        1900,
        440
      ],
      "typeVersion": 4.1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "## Tutorial - What is an API?\n\nWelcome! This workflow will teach you the basics of APIs (Application Programming Interfaces).\n\n**What is an API?**\nThink of it like ordering food at a restaurant.\n- **You** are the \"Client\" (the **HTTP Request** node). You want something.\n- The **Kitchen** is the \"Server\" (the **Webhook** node). It has the data/service you want.\n- The **API** is the **Waiter and the Menu**. It's the set of rules and options for making a request and getting a response.\n\n\n**What is an Endpoint?**\nAn endpoint is a specific address for a specific action. For example, `GET /menu` is one endpoint to get the menu, and `POST /review` is another to submit a review. Each webhook in this tutorial represents one endpoint.\n\n**How to use this tutorial:**\n1.  **Activate** the workflow (toggle on the top right).\n2.  **Configure the Base URL** (see the yellow note to the left).\n3.  Click **\"Execute Workflow\"**. The workflow will run from top to bottom.\n4.  Explore each \"Lesson\" by clicking on the **HTTP Request** node (the Customer) and its corresponding **Webhook** node (the Kitchen).\n\n\n**➡️ How to See the Data:**\nWhen you run this, the Webhook nodes run in the background. To see the data they received, go to the **\"Executions\"** tab of this workflow. You will see a separate execution for each API call!",
        "height": 768,
        "width": 800
      },
      "id": "6c33033a-c588-44a2-911b-a518ea14a758",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        260,
        -120
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### Lesson 1: The Basics (Method & URL)\n\nThis is the simplest possible request.\n\n- **URL (Uniform Resource Locator):** This is the **address of the restaurant's kitchen**. The HTTP Request node needs to know exactly where to send the order. We use an expression to get the Webhook's address automatically from our configuration.\n\n- **Method: `GET`**: This is **what you want to do**. `GET` is used to **retrieve** or **get** information. It's like asking the waiter, \"What's on the menu today?\" `GET` requests are simple and don't contain a \"body\" payload.\n\n\n**➡️ Look at the output of the HTTP Request node. It received exactly what the `Respond to Webhook` node sent back!**",
        "height": 512,
        "width": 864,
        "color": 7
      },
      "id": "0edad8f7-5fbf-4d2d-955b-8d710a213f7b",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1840,
        140
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "url": "={{ $json.base_url }}/tutorial/api/order",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "extra_cheese",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "f7db2d44-98d4-4328-8fc3-0f59191f1dbc",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "2. The Customer (GET with Query Params)",
      "type": "n8n-nodes-base.httpRequest",
      "creator": "Lucas Peyrin",
      "position": [
        1900,
        1120
      ],
      "typeVersion": 4.1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "path": "/tutorial/api/order",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "82a79ded-3c67-4eb2-81e8-b012180958bd",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "2. The Kitchen (GET /order)",
      "type": "n8n-nodes-base.webhook",
      "creator": "Lucas Peyrin",
      "position": [
        2220,
        1120
      ],
      "webhookId": "b2c3d4e5-f6a7-8901-2345-67890abcdef1",
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "order",
              "type": "string",
              "value": "Pizza with extra cheese"
            }
          ]
        },
        "options": {}
      },
      "id": "68582e42-23d6-4eb0-bcff-a440e9cc6e80",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Prepare Cheese Pizza",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        2660,
        1020
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "order",
              "type": "string",
              "value": "Plain Pizza"
            }
          ]
        },
        "options": {}
      },
      "id": "7d12be9f-d9e3-47d1-b959-cd345d590eee",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Prepare Plain Pizza",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        2660,
        1220
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### Lesson 2: Customizing a Request (Query Parameters)\n\nWhat if you want to customize your order? That's what Query Parameters are for.\n\n**Query Parameters:** These are simple `key=value` options added to the end of the URL after a `?`. They are used to filter, sort, or specify what you want.\n\nIt's like telling the waiter, \"I'll have the pizza... **and can you add extra cheese?**\"\n\nThe full URL sent by the HTTP Request node looks like this:\n`.../tutorial/api/order?extra_cheese=true`\n\n**⚠️ Important:** Because they are part of the URL, **all query parameter values are treated as strings!** The webhook receives `\"true\"` (a string), not `true` (a boolean). The IF node is set to a \"loose\" comparison to handle this correctly.\n\n**➡️ The Webhook node uses an IF node to check for this parameter and changes its response. Try setting the value to `false` in the HTTP Request node and run it again!**",
        "height": 720,
        "width": 1056,
        "color": 7
      },
      "id": "93de3f1b-3fc7-471b-b133-e0bb5f9ca838",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1840,
        680
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.base_url }}/tutorial/api/review",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "The pizza was amazing!"
            },
            {
              "name": "rating",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "340f6534-c6fd-4f58-bd28-1406d1500b88",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "3. The Customer (POST with Body)",
      "type": "n8n-nodes-base.httpRequest",
      "creator": "Lucas Peyrin",
      "position": [
        1900,
        1720
      ],
      "typeVersion": 4.1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/tutorial/api/review",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e19695ba-cd4a-4a78-9911-74c9166d6866",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "3. The Kitchen (POST /review)",
      "type": "n8n-nodes-base.webhook",
      "creator": "Lucas Peyrin",
      "position": [
        2220,
        1720
      ],
      "webhookId": "c3d4e5f6-a7b8-9012-3456-7890abcdef12",
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "status",
              "type": "string",
              "value": "review_received"
            },
            {
              "id": "67890",
              "name": "your_comment",
              "type": "string",
              "value": "={{ $json.body.comment }}"
            },
            {
              "id": "91011",
              "name": "your_rating",
              "type": "number",
              "value": "={{ $json.body.rating }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8fd30d4e-0574-4485-9507-5859ebd3b171",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Process Review Data",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        2440,
        1720
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### Lesson 3: Sending Data (POST & Body)\n\nSometimes, you don't want to *get* data, you want to *send* it.\n\n- **Method: `POST`**: This method is used to **send new data** to the server to create or update a resource. It's like handing the waiter a completed customer feedback card.\n\n- **Body:** This is the **actual data you are sending**. Unlike a `GET` request, a `POST` request has a \"body\" where you can put complex data, like a JSON object. This is much more powerful than query parameters for sending information.\n\n\n**➡️ The HTTP Request sends a JSON object in its body. The Webhook receives it and includes your comment in its response. Check the \"Executions\" panel to see the full body the webhook received!**",
        "height": 476,
        "width": 1056,
        "color": 7
      },
      "id": "e8c36196-17a4-4139-b03b-3d694b3c095c",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1840,
        1440
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "url": "={{ $json.base_url }}/tutorial/api/secret-dish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "super-secret-key"
            }
          ]
        },
        "options": {}
      },
      "id": "0ae4180f-1f48-4fc3-a904-39aef09316cc",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "4. The Customer (GET with Headers/Auth)",
      "type": "n8n-nodes-base.httpRequest",
      "creator": "Lucas Peyrin",
      "position": [
        1900,
        2600
      ],
      "typeVersion": 4.1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "path": "/tutorial/api/secret-dish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1b9fba21-41fe-405e-b946-c62c7752a150",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "4. The Kitchen (GET /secret-dish)",
      "type": "n8n-nodes-base.webhook",
      "creator": "Lucas Peyrin",
      "position": [
        2220,
        2600
      ],
      "webhookId": "d4e5f6a7-b8c9-0123-4567-890abcdef123",
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "#### Lesson 4: Identification (Headers & Auth)\n\nHeaders contain meta-information *about* your request. They're not part of the data itself, but they provide important context. Authentication is a common use case.\n\n- **Headers:** Think of this as **showing your VIP membership card** or whispering a secret password to the waiter. It's information that proves who you are or what your request's properties are.\n\n- **Authentication (Auth):** This is the process of proving your identity. Here, we use a custom header (`x-api-key`) as a \"secret key\". In the real world, this is how most APIs control access.\n\n\n**➡️ The Webhook checks for the correct secret key in the headers. If it's wrong or missing, it denies the request with a `401 Unauthorized` status code. Try changing the key in the HTTP Request node!**",
        "height": 908,
        "width": 1056,
        "color": 7
      },
      "id": "a16db587-368e-49a6-b34e-906bea520266",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1840,
        1960
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "url": "={{ $json.base_url }}/tutorial/api/slow-service",
        "options": {
          "timeout": 2000
        }
      },
      "id": "16b0c963-80e0-4855-8b43-fe1f6e674f0f",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "5. The Customer (Request with Timeout)",
      "type": "n8n-nodes-base.httpRequest",
      "creator": "Lucas Peyrin",
      "position": [
        1900,
        3320
      ],
      "typeVersion": 4.1,
      "onError": "continueErrorOutput",
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "path": "/tutorial/api/slow-service",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e75a6898-175a-4761-bb49-58489a6af7c5",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "5. The Kitchen (GET /slow-service)",
      "type": "n8n-nodes-base.webhook",
      "creator": "Lucas Peyrin",
      "position": [
        2220,
        3320
      ],
      "webhookId": "e5f6a7b8-c9d0-1234-5678-90abcdef1234",
      "typeVersion": 2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12345",
              "name": "status",
              "type": "string",
              "value": "Finally, your food is here!"
            }
          ]
        },
        "options": {}
      },
      "id": "0a7fea69-ed25-49e1-a10b-35c36bcbce67",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Prepare Slow Response",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        2660,
        3320
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "70af89bc-5293-4359-9a95-a26503dcf0ed",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Wait 3 seconds",
      "type": "n8n-nodes-base.wait",
      "creator": "Lucas Peyrin",
      "position": [
        2440,
        3320
      ],
      "webhookId": "86b44ff3-7d31-4027-a1cd-df67f9ab974a",
      "typeVersion": 1.1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ca861c2d-78d9-403b-8bab-28d8e7dcf39c",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.headers['x-api-key'] }}",
              "rightValue": "super-secret-key"
            }
          ]
        },
        "options": {}
      },
      "id": "8bfbd90e-4ee7-46fb-87b5-f74b06851afa",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "IF Authorized",
      "type": "n8n-nodes-base.if",
      "creator": "Lucas Peyrin",
      "position": [
        2440,
        2600
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ca861c2d-78d9-403b-8bab-28d8e7dcf39c",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.query.extra_cheese }}",
              "rightValue": "your-api-key-for-example"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "fe3fb56b-aefe-4c54-be41-f5764808a717",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "IF extra cheese",
      "type": "n8n-nodes-base.if",
      "creator": "Lucas Peyrin",
      "position": [
        2420,
        1120
      ],
      "typeVersion": 2.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "## ✨ **CONFIGURATION REQUIRED** ✨\n\nTo use this interactive tutorial, you need to tell the \"Customer\" nodes where to find the \"Kitchen\" nodes.\n\n### **1. Get your Webhook URL**\n\n*   **Activate** this workflow using the toggle switch at the top right of the screen.\n*   Open any Webhook node in this workflow (e.g., `1. The Kitchen (GET /menu)`).\n*   Go to the **Production URL** field and click the copy button.\n\n### **2. Update the CONFIGURATION Node**\n\n*   Open the `CONFIGURATION` node (the one this note is pointing to).\n*   In the **Value** field, **paste the full URL** you just copied.\n\n\nThat's it! Now you can run the workflow, and all the HTTP Request nodes will know how to call your webhooks.",
        "height": 764,
        "width": 700,
        "color": 3
      },
      "id": "7b29491a-ce86-4bd9-883e-fba80d66c8df",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1100,
        -120
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7edededc-2f40-4b8e-b8db-ab4816f1a28e",
              "name": "base_url",
              "type": "string",
              "value": "={{ $json.your_n8n_webhook_url.match(/^(https?:\\/\\/[^\\/]+)\\/(webhook-test|webhook|v1|[^\\/]+)/)[1] + '/' + $json.your_n8n_webhook_url.match(/^(https?:\\/\\/[^\\/]+)\\/(webhook-test|webhook|v1|[^\\/]+)/)[2].replace('webhook-test','webhook') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbcad255-1f59-47f1-8816-ea11fd1e3919",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Base URL",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        1500,
        440
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "### ⚠️ **Security Best Practice**\n\nFor this tutorial, we are putting the API key directly in the header. \n\n**In a real project, NEVER do this!**\n\nAlways use n8n's built-in **Credentials** system to store and manage secret keys. You would create a \"Header Auth\" credential and select it in the HTTP Request node's \"Authentication\" parameter. This keeps your secrets safe and out of your workflow JSON.",
        "height": 496,
        "width": 304,
        "color": 3
      },
      "id": "0b7f1fee-2997-48e8-9b54-f0415993f0ac",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        1860,
        2280
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"dish\": \"The Chef's Special Truffle Pasta\"\n}",
        "options": {}
      },
      "id": "7e17aacc-0692-46e5-bc7b-b84b9dd399fe",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Respond with Secret",
      "type": "n8n-nodes-base.respondToWebhook",
      "creator": "Lucas Peyrin",
      "position": [
        2660,
        2480
      ],
      "typeVersion": 1.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "You are not authorized to see the secret dish.",
        "options": {
          "responseCode": 401
        }
      },
      "id": "253e4443-0df0-46eb-88c5-85acf775e6b7",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Respond: Unauthorized (401)",
      "type": "n8n-nodes-base.respondToWebhook",
      "creator": "Lucas Peyrin",
      "position": [
        2660,
        2680
      ],
      "typeVersion": 1.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "# What other services give you\n\nReal-world APIs have documentation that tells developers how to use them. This is what the documentation for our little tutorial API would look like. To put you in context, you would see this documentation and create http request nodes accordingly.\n\n**Remember**, AI can help you !\n\n\n# API Documentation Example\n\nA simple API to demonstrate http requests in n8n.\n\n## API Endpoints\n\n### GET /tutorial/api/menu\n\n**Summary:** Get the menu\n\n**Responses:**\n*   `200 OK`: The restaurant menu.\n\n---\n\n### GET /tutorial/api/order\n\n**Summary:** Get a customized order\n\n**Parameters:**\n*   `extra_cheese` (query, string, example: `true`): Whether to add extra cheese.\n\n\n**Responses:**\n*   `200 OK`: Your customized pizza order.\n\n---\n\n### POST /tutorial/api/review\n\n**Summary:** Submit a review\n\n**Request Body (application/json):**\n```json\n{\n  \"comment\": \"string\",\n  \"rating\": 0\n}\n```\n*   `comment` (string): The review comment.\n*   `rating` (integer): The rating given (e.g., 1-5).\n\n\n**Responses:**\n*   `200 OK`: Confirmation of review receipt.\n\n---\n\n### GET /tutorial/api/secret-dish\n\n**Summary:** Get the secret dish (Auth Required)\n\n**Authentication:** Requires API Key. See [Authentication](https://docs.n8n.io/integrations/builtin/credentials/httprequest/) section for details.\n\n**Responses:**\n*   `200 OK`: The secret dish.\n*   `401 Unauthorized`: Authentication is required or invalid.\n\n---\n\n### GET /tutorial/api/slow-service\n\n**Summary:** A slow endpoint to test timeouts\n\n**Responses:**\n*   `200 OK`: A delayed response.\n\n---\n\n## Authentication\n\nThis API uses an API Key for authentication on certain endpoints.\n\n### API Key Authentication (`ApiKeyAuth`)\n\n*   **Type:** API Key\n*   **Location:** Header\n*   **Header Name:** `x-api-key`\n\n\nTo authenticate, include your API key in the `x-api-key` header of your request.\n\n**Example:**\n```\nGET /tutorial/api/secret-dish\nHost: your-api-domain.com\nx-api-key: YOUR_API_KEY_HERE\n```",
        "height": 2096,
        "width": 696,
        "color": 6
      },
      "id": "7a1f500f-722e-4703-9419-e8028dce9429",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "OpenAPI Spec",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        2920,
        680
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "![Kitch on fire](https://media2.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3MXIyOXBhZHhueGxnZjZhbnQ3MmRtbzg5aW9mZ3VrMGN2bGQ0Y3VidyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/l4FGpeeBs3XLWxqrm/giphy.webp)",
        "height": 272,
        "width": 256,
        "color": 7
      },
      "id": "42bc1767-8d3d-47c2-81f3-0cfbd4660666",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        2340,
        1020
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "![Kitch on fire](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGgyNmxobWE5ZjhydXdwM2o1bWkwMjZna3A1OTdiOHNpeGE5cW5wNSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/2ka4S8LMiGxA371PD3/giphy.webp)",
        "height": 224,
        "width": 176,
        "color": 7
      },
      "id": "b544a995-b9e5-408c-bf0f-f2cf71e19510",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        2720,
        440
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "![Kitch on fire](https://media4.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3YWo1ODNsNm9pZHh6dDBhNnp6bWRvaTRuc3hxbWlhd3NoMW40eHN4dyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/V1gX8pwYRRDoxFh6lJ/200.webp)",
        "width": 256,
        "color": 7
      },
      "id": "5ae884a9-8520-4102-a4a0-f72072ccf40d",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        2620,
        1720
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7edededc-2f40-4b8e-b8db-ab4816f1a28e",
              "name": "your_n8n_webhook_url",
              "type": "string",
              "value": "PASTE_YOUR_WEBHOOK_URL_HERE"
            }
          ]
        },
        "options": {}
      },
      "id": "5c7e265e-6852-411c-8be5-1359315c8d05",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "⚙️CONFIGURATION⚙️",
      "type": "n8n-nodes-base.set",
      "creator": "Lucas Peyrin",
      "position": [
        1280,
        440
      ],
      "typeVersion": 3.4,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "content": "![Key](https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2VlZDBvZGQxMGtnbW9pMDBrZTFobXZ2ZnRvdmo5OHViNzdib2Z4dSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/HqVH7T3o1ggAguE4Oh/giphy.gif)",
        "height": 256,
        "width": 400,
        "color": 7
      },
      "id": "8537c4b4-929f-4d28-92b9-2ffa1bf17fdd",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "creator": "Lucas Peyrin",
      "position": [
        2180,
        2260
      ],
      "typeVersion": 1,
      "notes": "© 2025 Lucas Peyrin"
    }
  ],
  "connections": {
    "Start Tutorial": {
      "main": [
        [
          {
            "node": "⚙️CONFIGURATION⚙️",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. The Kitchen (GET /menu)": {
      "main": [
        [
          {
            "node": "Prepare Menu Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. The Kitchen (GET /order)": {
      "main": [
        [
          {
            "node": "IF extra cheese",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. The Kitchen (POST /review)": {
      "main": [
        [
          {
            "node": "Process Review Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. The Kitchen (GET /secret-dish)": {
      "main": [
        [
          {
            "node": "IF Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. The Kitchen (GET /slow-service)": {
      "main": [
        [
          {
            "node": "Wait 3 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 seconds": {
      "main": [
        [
          {
            "node": "Prepare Slow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Authorized": {
      "main": [
        [
          {
            "node": "Respond with Secret",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Unauthorized (401)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF extra cheese": {
      "main": [
        [
          {
            "node": "Prepare Cheese Pizza",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Plain Pizza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base URL": {
      "main": [
        [
          {
            "node": "1. The Customer (GET Menu Item)",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. The Customer (GET with Query Params)",
            "type": "main",
            "index": 0
          },
          {
            "node": "3. The Customer (POST with Body)",
            "type": "main",
            "index": 0
          },
          {
            "node": "4. The Customer (GET with Headers/Auth)",
            "type": "main",
            "index": 0
          },
          {
            "node": "5. The Customer (Request with Timeout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️CONFIGURATION⚙️": {
      "main": [
        [
          {
            "node": "Base URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "1. The Kitchen (GET /menu)": [
      {
        "body": {},
        "query": {},
        "params": {},
        "headers": {
          "host": "your-n8n-instance.com",
          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
          "user-agent": "n8n",
          "accept-encoding": "gzip, deflate, br",
          "x-forwarded-for": "192.168.1.1",
          "x-forwarded-host": "your-n8n-instance.com",
          "x-forwarded-proto": "https"
        },
        "webhookUrl": "https://your-n8n-instance.com/webhook/tutorial/api/menu"
      }
    ],
    "2. The Kitchen (GET /order)": [
      {
        "body": {},
        "query": {
          "extra_cheese": "true"
        },
        "params": {},
        "headers": {
          "host": "your-n8n-instance.com",
          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
          "user-agent": "n8n",
          "accept-encoding": "gzip, deflate, br",
          "x-forwarded-for": "192.168.1.1",
          "x-forwarded-host": "your-n8n-instance.com",
          "x-forwarded-proto": "https"
        },
        "webhookUrl": "https://your-n8n-instance.com/webhook/tutorial/api/order?extra_cheese=true"
      }
    ],
    "3. The Kitchen (POST /review)": [
      {
        "body": {
          "rating": 5,
          "comment": "The pizza was amazing!"
        },
        "query": {},
        "params": {},
        "headers": {
          "host": "your-n8n-instance.com",
          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
          "user-agent": "n8n",
          "content-type": "application/json",
          "content-length": "49",
          "accept-encoding": "gzip, deflate, br",
          "x-forwarded-for": "192.168.1.1",
          "x-forwarded-host": "your-n8n-instance.com",
          "x-forwarded-proto": "https"
        },
        "webhookUrl": "https://your-n8n-instance.com/webhook/tutorial/api/review"
      }
    ],
    "4. The Kitchen (GET /secret-dish)": [
      {
        "body": {},
        "query": {},
        "params": {},
        "headers": {
          "host": "your-n8n-instance.com",
          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
          "x-api-key": "super-secret-key",
          "user-agent": "n8n",
          "accept-encoding": "gzip, deflate, br",
          "x-forwarded-for": "192.168.1.1",
          "x-forwarded-host": "your-n8n-instance.com",
          "x-forwarded-proto": "https"
        },
        "webhookUrl": "https://your-n8n-instance.com/webhook/tutorial/api/secret-dish"
      }
    ],
    "5. The Kitchen (GET /slow-service)": [
      {
        "body": {},
        "query": {},
        "params": {},
        "headers": {
          "host": "your-n8n-instance.com",
          "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
          "user-agent": "n8n",
          "accept-encoding": "gzip, deflate, br",
          "x-forwarded-for": "192.168.1.1",
          "x-forwarded-host": "your-n8n-instance.com",
          "x-forwarded-proto": "https"
        },
        "webhookUrl": "https://your-n8n-instance.com/webhook/tutorial/api/slow-service"
      }
    ]
  },
  "meta": {
    "instanceId": "0606d251a4919d55d184498ed21555f0b8286ff9a93208d9d4880906f5e5bbcf"
  }
}